#puzzle-wrapper {
    margin: auto auto;
    width: 90%;
}

body {
    background-color: #d7c3cd;
}

a {
    text-decoration: none !important;
}

.a:hover {
    cursor: pointer;
}

.secret {
    text-align: center;
    color: #d7c3cd;
    margin: auto auto;
    display: block;
    width: 80%;
}


.secret-button{
    color: #d7c3cd;
    padding: 15px;
    border: none;
    background-color: #d7c3cd;
    margin: auto auto;
    display: inline-block;
    font-size: 20px;
}

.visible {
    color: black;
    border: 1px solid black;
}

.secret-button:hover {
    cursor: pointer;
}

.tile:hover {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .secret {
        font-size: 30px;
    }

    .secret-button{
        margin: 20px auto;
        font-size: 20px;
    }
}
