@font-face {
    font-family: earwig;
    src: url("../fonts/earwig_factory/earwig factory rg.otf");
}

body {
    text-align: center;   
    font-family: Helvetica, sans-serif;
}

h1 {
    font-family: earwig;
    font-size: 75px;
    margin-block: 25px;
}

.navbutton {
    font-size: large;
    font-weight: bold;
    display: inline;
    padding-inline: 10px;
    padding-block: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgb(177, 254, 203);
    margin: 10px 10px;
}

.navbutton:hover {
    background-color: rgb(164, 239, 189);
    cursor: pointer;
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.5);;
}

#header {
    height: 20vh;
}

#message {
    margin-inline: auto;
    width: 50vw;
    height: 45vh;
}