@font-face {
    font-family: earwig;
    src: url("../fonts/earwig_factory/earwig factory rg.otf");
}

body {
    text-align: center;   
    font-family: Helvetica, sans-serif;
}

h1 {
    font-family: earwig;
    font-size: 75px;
    margin-block: 25px;
}

#header {
    height: 50vh;
}

#message {
    margin-inline: auto;
    width: 50vw;
}

/* #phone-call {
    height: 150vh;
} */